<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signin</title>
    <script
      src="https://kit.fontawesome.com/683b4b40e3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="aballcss.css" />
  </head>
  <body>
    <div id="absi">
      <div id="absileft">
        <a href="Home.html">
          <img
            id="absilogo"
            src="https://app.pluralsight.com/id/img/login-logo.png"
        /></a>
        <div style="margin-top: 80px">
          <p style="font-size: 20px; font-weight: bold; line-height: 0px">
            Email or Username
          </p>
          <input id="absiu" type="text" placeholder="username" />
        </div>
        <div style="margin-top: 50px">
          <p style="font-size: 20px; font-weight: bold; line-height: 0px">
            Password
          </p>
          <input id="absip" type="password" placeholder="password" />
        </div>

        <button id="absibtns">Sign in</button>
        <h3 style="text-align: center; color: #0074ab">Forgot password?</h3>
        <h3 style="text-align: center; color: #0074ab">
          Sign in with company or school
        </h3>
        <hr />
        <a href="/signup">
          <button id="absibtnc">Create an account</button>
        </a>

        <p style="margin-top: 100px; text-align: center">
          Copyright © 2004 - 2021 Pluralsight LLC. All rights reserved.
        </p>
        <p style="text-align: center">Terms of Use | Privacy Policy</p>
      </div>
      <div id="absiright">
        <div id="absiappend"></div>
        <p style="font-size: 50px; font-weight: bolder">You're all set!</p>
        <p style="font-size: 20px; font-weight: bold">
          Verify your email and then log in with your email and password to take
          the assessment.
        </p>
      </div>
    </div>
  </body>
</html>
<script src="abSignIn.js"></script>
