@font-face {
    font-family: TT Commons;
    src: url("./fonts/TT Commons Regular.otf") format("opentype");
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    width: 102%;
    background: #000000;
    font-family: TT Commons;
    overflow-x: hidden;
}


#nkBanner>img {
    width: 100%;
}

#nkSecondDiv {
    /* border: 1px solid red; */
    height: 420px;
    display: flex;
    width: 90%;
    margin: auto;
    background-color: #000000;
    border-radius: 10px;
    /* background-color: red; */

    margin-top: 100px;
}

#nkleft {
    /* border: 1px solid blue; */
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 200px 200px;
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 2%;

}

#nkleft>a {
    text-decoration: none;
    color: black;
}

#nkleft>a>div {
    /* width: 40%; */
    /* height: 55%; */
    /* border: 1px solid red; */
    border-radius: 15px;
    padding: 10px;
    display: flex;
    background-color: #222222;
    color: white;
}

#nkright {
    /* border:1px solid green; */
    color: #fffff9;
}

#nkText {
    /* border:1pxsolid red; */
    width: 70%;
}

#nkright>h2 {
    color: #e90182;
    margin-top: 25px;
    font-size: 18px;
}

#nkright>h1 {
    margin-left: 0;
    font-weight: bold;
}

#nkImg {
    /* border:1px solid blue; */
    width: 30%;
    height: 5%;
}

#nkImg>img {
    width: 100%;
}

#nkText>h3,
h2,
p {
    margin-top: 5px;
    margin-bottom: 0px;
}

#nkright>h3 {
    font-size: 16px;
}

#nkText>p {
    color: #e90182;
}

h3>span {
    color: #a8a5a2;
    font-weight: normal;
}

#nkThirdDiv {
    /* border:1px solid red; */
    width: 100%;
    height: 1200px;
    margin: auto;
    margin-top: 30px;
    background: #000000;

}

#nkThirdDiv>h2,
h1 {
    margin-left: 5%;
}

#nkSkills {
    /* border: 1px solid red; */
    width: 90%;
    height: 450px;
    color: #fffff9;
    margin: auto;
    border-radius: 15px;
    display: flex;
    background-color: #222222;
}

#nkSkillsText {
    padding: 25px;
    width: 50%;
}

#nkSkillsLogo {
    display: flex;
    margin-top: 60px;
}

#nkSkillsLogo>div {

    margin-right: 10px;
}

#nkSkillsImg {
    width: 50%;
}

#nkSkillsImg>img {
    width: 100%;
    height: 100%;
}

/* <.......modulediv.....> */

#nkModuleDiv {
    /* border: 1px solid red; */
    height: 500px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-evenly;
    background: #000000;
}

#nkM1,
#nkM2,
#nkM3 {
    /* border: 1px solid red; */
    border-radius: 15px;
    background-color: #222222;
    color: #fffff9;
    padding: 15px;

}

#nkM1>img {
    margin-left: 20px;
    margin-top: 20px;
}

#nkM2>img {
    margin-left: 20px;
    margin-top: 20px;
}

#nkM3>img {
    margin-left: 20px;
    margin-top: 20px;
}

#nkM1>h3 {
    /* padding: 10px; */
    font-size: x-large;
    margin-left: 20px;


}

#nkM2>h3 {
    /* padding: 20px; */
    font-size: x-large;
    margin-left: 20px;


}

#nkM3>h3 {
    /* padding: 20px; */
    font-size: x-large;
    margin-left: 20px;


}

span>i {
    color: #e90182;
}


/* <---------akshay----------------------> */



.at_container {
    width: 100%;
    height: 35rem;
    background-color: #000000;
}

.at_large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 5px solid red; */
    margin-left: 5%;
    /* width: 100%; */
}

#h3 {
    color: #e40084;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

#at_title {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.dis_img {
    width: 20rem;
    height: 10rem;
    border-radius: 20px;
}

.at_cards {
    width: 20rem;
}

.title_yellow {
    color: #ffba0e;
    font-size: 1rem;
    margin: 1.5rem 0;
}

.card_p {
    color: white;
    font-weight: thin;
    font-size: 1.25rem;
    margin: 1.5rem 0;
}

.main {
    display: flex;
    gap: 2rem;
}

.at_one {
    width: 60%;
    display: flex;
}

.at_one_img {
    flex-shrink: 0;
    min-width: 100%;
}

.vm_sec {
    height: 450px;

}

.at_two {
    background-image: linear-gradient(to right,
            #ec0585,
            #f4116f,
            #f72759,
            #f63c43,
            #f0502d);
    width: 39%;
}

.vm_sec {
    display: flex;

}

.at_two_icon {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.at_two_icon img {
    width: 100px;
}

.at_two_same {
    color: white;
}

.para {
    margin-top: 2rem;
    font-size: 1.15rem;
    line-height: 1.75rem;
}

.at_two_in {
    margin-left: 2rem;
    margin-right: 1rem;
}

.at_btn {
    margin-top: 2rem;
    width: 18rem;
    height: 3rem;
    background-color: #181818;
    color: white;
    font-weight: bold;
    padding: 1rem;
}

.at_btn:hover {
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
    color: white;
}

/* twitter section */

.at_twitter {
    width: 100%;
    height: 40rem;
    background: #000;
}

.at_twitter_head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
}

/* pone */

.at_child {
    background-image: url("https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/generic_block_1609496607/image-res.img.be371fc3-a0e2-4a38-a47d-750f560ee9d9.jpg");
    width: 100%;
    height: 35rem;
    background-size: cover;
}

.at_child_container {
    display: flex;
    flex-direction: column;
    width: 700px;
    color: white;
    margin-left: 15%;
}

.at_child_container img {
    width: 200px;
    position: relative;
    left: -40px;
}

.at_child_head {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 3rem;
}

.at_child_para {
    font-size: 1.25rem;
    line-height: 1.8rem;
}

.at_child_btn {
    height: 3.5rem;
    width: 13rem;
    margin-top: 2rem;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-weight: bold;
}

.at_child_btn:hover {
    border: 2px solid white;
    cursor: pointer;
}

/* last */

.try_free {
    height: 18rem;
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.try_one {
    /* background: #e40084; */
    width: 45%;
}

.try_one_h1 {
    font-size: 3rem;
    color: white;
    line-height: 3rem;
}

#try_btn {
    background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
    background-size: 300% 100%;
    height: 3.12rem;
    width: 16rem;
    font-size: 1rem;
    transition: 0.6s ease-in-out;
    color: white;
    font-weight: bold;
}

#try_btn:hover {
    background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
    cursor: pointer;
    background-position: -50% 0;
}

/* twitter section */
.at_twitter_main {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    height: 100%;
}

#follow {
    color: #e40084;
    font-size: 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

#share {
    color: white;
    font-size: 2rem;
}

.tweets {
    color: white;
}

.atspan {
    color: white;
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    left: 0.5%;
    z-index: 1;
}

span:nth-of-type(2) {
    left: 98%;
    text-align: right;
}

section {
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 5rem;
}

section::-webkit-scrollbar {
    visibility: hidden;
}

.at_main_tweets {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sub-tweets {
    min-width: 420px;
    position: relative;
    left: 0;
    text-align: center;
    /* padding-top: 3.75rem; */
    font-size: 6rem;

    color: white;

}

.sub-tweets img {
    border-radius: 5px;
}

#spanZero {
    position: absolute;
    left: 15rem;
}

#spanOne {
    position: absolute;
    left: 95rem;
}

/* <===========================NK Text DIV============> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#nkwrapper {
    display: inline-flex;
    position: relative;
    top: -82%;
    left: 43%;
}

#nkFirstDiv {
    height: 550px;
    overflow: hidden;
    margin-top: 0px;
}

#nkFirstDiv>img {
    /* width: 80%; */
    height: 100%;
    position: relative;
    left: -37%;

}

#nkstatic-text {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

#nkdynamic-text {
    margin-top: 10px;
    /* margin-left: 2px; */
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    font-weight: bold;
}

#nkdynamic-text li {
    list-style: none;
    font-size: 60px;
    color: white;
    position: relative;
    top: 0;
    animation: slide 5s steps(5) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }

}

#nkdynamic-text li span {
    position: relative;
}

#nkdynamic-text li span::after {
    content: "";
    position: absolute;

    height: 100%;
    width: 100%;

}

#nkTxt {
    width: 600px;
    font-size: 21px;
    position: relative;
    top: -80%;
    left: 43%;
}

#nkbtn {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 50px;
    position: relative;
    top: -60%;
    left: 43%;
}

#nkbtn>a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    color: white;
    width: 180px;
}

#nk1 {
    background: black;
}

#nk2 {
    border: 1px solid white;
}